* {
    background-color: rgba(29,173,181,255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;    
}
header {
    position: top;
    text-align: center;
}
h1 {
    text-align: center;
}
  nav {
    display: flex; 
    overflow: hidden;
    background-color: darkslategrey;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
nav a.active {
    color: darkslategrey;
    background-color: white;
}
nav a:hover {
    color: darkslategray;
    background-color: white;
}
nav > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color:white;
    background-color: darkslategrey;
  }
#island {
width: 100%;
height: 650px;
position:top;
}