* {
    background-color: rgba(29,173,181,255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;    
    font-size: large;
}
header {
    position: top;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: xx-large;
    color:aliceblue;
    font-style: italic;
    font-family: Lucida, serif;
}
  nav {
    display: flex; 
    overflow: hidden;
    background-color: darkslategrey;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
nav a.active {
    color: darkslategrey;
    background-color: white;
}
nav a:hover {
    color: darkslategray;
    background-color: white;
}
nav > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    color:white;
    background-color: darkslategrey;
  }
#island {
    width: 100%;
    height: 650px;
    position:top;
}
h2 {
    color:aliceblue;
    text-decoration: underline;
    font-size: large;
}
 a:hover {
    color: darkslategray;
    background-color: white;
}
.navi img {
    width:58%;
    height: 200px;
    float:right;
}
.navi {
    display: flex; 
    gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: wrap;
}
.navi p {
    background-color: darkslategray;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
}
.navi a {
    color:white;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
}
.navi a:hover {
    color:darkslategray;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}
